body{
    margin: 0px;
}
.menu{
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 80%;
    background-color: #2c0033;
    @media (min-width: 0px) and (max-width: 576px){
        grid-template-columns: repeat(1, 100%);
        width: 100%;
    }
}
.menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    background: #2c0033;
    padding: 20px;
}
.bg{
    height: calc(100vh - 16px);
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
}

.reviews{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap:30px;
    width: 70%;
    margin: auto;

    @media (min-width: 0px) and (max-width: 576px){
        grid-template-columns: repeat(1, 50%);
        padding-top: 50px;
    }

    @media (min-width: 576px) and (max-width: 992px){
        padding-top: 70px;
    }
}
.review{
    background-color: #8f4040;
    padding: 50px;
    text-align: center;
}
.avatar{
    padding: 10px;
    width: 150px;
    height: 150px;
    background: url(b6e26f1e5c9b11eebb3cceda526c50ab_upscaled.jpg);
    background-position: center;
    background-size: cover;
    margin: auto;
}
.name{
    padding: 10px;
}
.text{
    padding: 10px;
}
.data{
    padding: 25px;
    text-align: center;
}
.block{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: rgb(171, 153, 153);

    @media (min-width: 0px) and (max-width: 576px){
        padding-bottom: 70px;
        padding-top: 50px;
    }

    @media (min-width: 576px) and (max-width: 992px){
        padding-bottom: 70px;
        padding-top: 100px;
    }
}

.block_text{
    font-size: 24px;
    line-height: 1.7;
    margin-right: 50px;
}
.block_photo{
    height: 600px;
    background: url(base.jpg);
}
.block_container{
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    @media (min-width: 0px) and (max-width: 992px){
        grid-template-columns: repeat(1, 100%);
    }
}
h2{
    text-align: center;
}
.product_container{
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 36px;
}
.products{
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 20px));
    width: 80%;
    margin: auto;
    gap: 20px;
    @media (min-width: 576px) and (max-width: 992px){
        grid-template-columns: repeat(2, 50%);
        padding-bottom: 100px;
        padding-top: 70px;
    }

    @media (min-width: 0px) and (max-width: 576px){
        grid-template-columns: repeat(1, 100%);
        padding-bottom: 70px;
        padding-top: 50px;
    }
}
.product_photo1{
    height: 400px;
    background: url(product1.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_photo2{
    height: 400px;
    background: url(product2.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_photo3{
    height: 400px;
    background: url(product3.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_photo4{
    height: 400px;
    background: url(product4.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_photo5{
    height: 400px;
    background: url(product5.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_photo6{
    height: 400px;
    background: url(product6.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_photo7{
    height: 400px;
    background: url(product7.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_photo8{
    height: 400px;
    background: url(product8.jpg);
    background-size: cover;
    background-position: center;
    margin: auto;
}
.product_name{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: red;
}
.product_price{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(238, 66, 19);
}
.menu_item{
    text-align: center;
    @media (min-width: 0px) and (max-width: 576px){
        border-bottom: 1px solid #3b4842;
        padding: 10px 0px 10px 0px;
        display: none;
    }
}
a:hover{
    color: hsl(0, 10%, 69%);
}
.product:hover{
    opacity: 0.8;
}
.chk:checked ~ .menu_item{
    display: block;   
}
.chk{
    display: none;
}
label{
    @media (min-width: 576px){
        display: none;
    }
    color: rgb(255, 253, 253);
    margin: auto;
}
